*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:"Hiragino Kaku Gothic ProN",sans-serif;
}

a{
  text-decoration:none;
}

.container{
  width:100%;
  padding:0 15px;
  margin:0 auto;
}

/*header*/

header{
  width:100%;
  height:65px;
  background-color:rgba(80,50,50,0.9);
  position:fixed;
  top:0;
  z-index:10;
}

.header-right{
  float:right;
  transition: all 0.5s;
}

.header-right a{
  line-height:65px;
  color:pink;
  padding:0 25px;
  display:block;
}

.header-right a:hover{
  background-color:rgba(255,255,255,0.3)
}

.header-left{
  float:left;
  color:pink;
}

.header-left h1{
  padding-bottom:10px;
  line-height:60px;
  margin:0;
  font-weight:normal;
}

/*top-wrapper*/
.top-wrapper{
  width:100%;
  height:500px;
  padding:0;
}

.top-title {
  position:absolute;
  top:150px;
  color:white;
  font-size:40px;
}

/*coffees*/
.coffees{
  padding-bottom:80px;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
}

.coffee{
  float:left;
  width:50%;
}

.heading{
  padding-top:80px;
  padding-bottom:50px;
  color:#5f5d60;
}

.heading h1{
  font-weight:normal;
  margin:0 auto;
  font-size:40px;
  color:skyblue;
  border-radius:6px;
}

.text-contents{
  width:80%;
  display:inline-block;
  margin-top:15px;
  font-size:13px;
  color:#b3aeb5;
}

h1{
  text-align:center;
}

footer{
  text-align:center;
}
